.DS_Store
Nodejs/node_modules/
Nodejs/npm-debug.log*
Nodejs/yarn-debug.log*
Nodejs/yarn-error.log*
out/

# Editor directories and files
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
Nodejs/package-lock.json

indicators
build
bin
effolkronium
.*
CMakeLists.txt
tests
cmake-build-debug
